$color_1: white;
$color_2: #131317;
$color_3: black;
$color_4: rgb(49, 43, 43);
$color_5: #232323;
$color_6: #636363;
$color_7: #000;
$color_8: gray;
$color_9: grey;
$color_10: #fff;
$color_11: #ccc;
$background-color_1: black;
$background-color_2: #6f9a37;
$background-color_3: #ffdc60;
$background-color_4: rgba(255, 220, 96, .21);
$background-color_5: white;
$background-color_6: #000;
$background-color_7: #83adff;
$background-color_8: #59c9da;
$background-color_9: #ffadad;
$background-color_10: #f7d5d5;
$background-color_11: #343a40;