* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
    align-items: center;
    gap: 7px;
}

header {
    padding: 5px 10px;
}

header .sorex-fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px;
    margin: 10px 0;
}

header .sorex-fixed .sorex-fixed-logo img {
    width: 200px;
}

header .sorex-fixed .sorex-fixed-button button {
    background-color: #6f9a37;
    border: #6f9a37;
    color: white;
    border-radius: 5%;
    width: 100px;
    height: 50px;
    font-weight: 700;
    cursor: pointer;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

header .header-sorex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .header-sorex nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}

header .header-sorex .icon-box {
    display: block;
}

header .header-sorex .icon-box i {
    font-size: 20px;
}

header .header-sorex nav ul li a {
    text-decoration: none;
    font-weight: lighter;
    color: #131317;
    font-size: 20px;
}

header .header-sorex .button-sorex button {
    background-color: #ffdc60;
    border: #ffdc60;
    border-radius: 50px;
    width: 170px;
    height: 60px;
    font-weight: 700;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

header .header-sorex .button-sorex button:hover {
    background-color: black;
    color: white;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}

header .header-sorex .button-sorex button:not(:hover) {
    transition: .5s ease-in;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

header .header-sorex .icon-sorex i {
    color: black;
    background-color: #ffdc60;
    ;
    padding: 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 30px;
}

.sorex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 800px;
}

.sorex .sorex-flex {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
}

.sorex .sorex-image {
    width: 60%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.sorex .sorex-image img:hover {
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -o-transform: skew(10deg);
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}

.sorex .sorex-image img {
    width: 60%;
    animation: animation 5s infinite;
    -webkit-animation: animation 5s infinite;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
}

.grid-section .container .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-section .container .grid .grid-item {
    background-color: black;
    padding: 100px;
}

@keyframes animation {
    0% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    25% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }

    50% {
        transform: translateY(-25px);
        -webkit-transform: translateY(-25px);
        -moz-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        -o-transform: translateY(-25px);
    }

    75% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
}

.sorex .sorex-flex h1 {
    color: rgb(49, 43, 43);
}

.sorex .sorex-flex p {
    color: #232323;
    font-size: 60px;
    font-weight: 700;
}

.sorex .sorex-flex h2 {
    background-color: #ffdc60;
    color: white;
    font-size: 20px;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.features .features-text {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.features .features-text h1 {
    font-size: 25px;
    color: #232323;
    background-color: rgba(255, 220, 96, .21);
    border-radius: 7%;
    -webkit-border-radius: 7%;
    -moz-border-radius: 7%;
    -ms-border-radius: 7%;
    -o-border-radius: 7%;
    margin: 20px;
}

.features .features-text p {
    font-size: 38px;
    font-weight: 600;
    color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
}
.manages{
    padding: 30px;
}
.manages .grid-manage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 15px;
}

.manages .grid-manage .design {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    box-shadow: -1px 3px 5px 3px rgba(0,0,0,0.43);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}



.arrow-fixed {
    /* width: 30px;
    height: 150px; */
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.arrow-fixed .arrow-icon {
    background-color: #ffdc60;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.arrow-fixed .arrow-icon i {
    font-size: 20px;
}

.grid-section .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-section .grid .grid-item-image-box {
    background-color: white;
}
/* .grid-section .grid .grid-item-content-box .list-box ul{

} */
.grid-section .grid .grid-item-content-box .list-box ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
}
.counter{
    background-color: #000;
    height: 80vh;
    background-image: url('/assets/image/counter-shape-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



@media screen and (max-width:768px) {

    header .header-container nav {
        display: none !important;
    }

    header .header-container .dropdown {
        display: none !important;
    }

    header .header-container .toggle-box {
        display: block !important;
    }
    .manages .grid-manage {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:400px) {
    .grid-section .container .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}