@import '_reset.scss';
@import '_variable.scss';
@import '_mixin.scss';



@keyframes animation {
	0% {
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
	}
	25% {
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
		-moz-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
	}
	50% {
		transform: translateY(-25px);
		-webkit-transform: translateY(-25px);
		-moz-transform: translateY(-25px);
		-ms-transform: translateY(-25px);
		-o-transform: translateY(-25px);
	}
	75% {
		transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-o-transform: translateY(-15px);
	}
	100% {
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		-o-transform: translateY(0px);
	}
}

.d-flex {
	display: flex;
	align-items: center;
	gap: 7px;
}
header {
	padding: 5px 10px;
	.sorex-fixed {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $background-color_1;
        
		padding: 5px;
		margin: 10px 0;
		.sorex-fixed-logo {
			img {
				width: 200px;
			}
		}
		.sorex-fixed-button {
			button {
				background-color: $background-color_2;
				border: #6f9a37;
				color: $color_1;
				border-radius: 5%;
				width: 100px;
				height: 50px;
				font-weight: 700;
				cursor: pointer;
				-webkit-border-radius: 5%;
				-moz-border-radius: 5%;
				-ms-border-radius: 5%;
				-o-border-radius: 5%;
			}
		}
	}
	.header-sorex {
		display: flex;
		justify-content: space-around;
		align-items: center;
		nav {
			ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 10px;
				list-style: none;
				li {
					a {
						text-decoration: none;
						font-weight: lighter;
						color: $color_2;
						font-size: 20px;
					}
				}
			}
		}
		.icon-box {
			display: block;
			i {
				font-size: 20px;
			}
		}
		.button-sorex {
			button {
				background-color: $background-color_3;
				border: #ffdc60;
				border-radius: 50px;
				width: 170px;
				height: 60px;
				font-weight: 700;
				cursor: pointer;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;
				&:hover {
					background-color: $background-color_1;
					color: $color_1;
					transition: .5s ease-in;
					-webkit-transition: .5s ease-in;
					-moz-transition: .5s ease-in;
					-ms-transition: .5s ease-in;
					-o-transition: .5s ease-in;
				}
				&:not(:hover) {
					transition: .5s ease-in;
					-webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
					-moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
					-ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
					-o-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
				}
			}
		}
		.icon-sorex {
			i {
				color: $color_3;
				background-color: $background-color_3;
				padding: 30px;
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;
				font-size: 30px;
			}
		}
	}
}
.sorex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	width: 100%;
	height: 800px;
	.sorex-flex {
		width: 40%;
		height: 60%;
		display: flex;
		justify-content: space-around;
		align-items: start;
		flex-direction: column;
		h1 {
			color: $color_4;
		}
		p {
			color: $color_5;
			font-size: 60px;
			font-weight: 700;
		}
		h2 {
			background-color: $background-color_3;
			color: $color_1;
			font-size: 20px;
		}
	}
	.sorex-image {
		width: 60%;
		justify-content: center;
		display: flex;
		align-items: center;
		img {
			&:hover {
				transform: skew(10deg);
				-webkit-transform: skew(10deg);
				-moz-transform: skew(10deg);
				-ms-transform: skew(10deg);
				-o-transform: skew(10deg);
				transition: .5s ease-in;
				-webkit-transition: .5s ease-in;
				-moz-transition: .5s ease-in;
				-ms-transition: .5s ease-in;
				-o-transition: .5s ease-in;
			}
			width: 60%;
			animation: animation 5s infinite;
			-webkit-animation: animation 5s infinite;
			transition: .5s ease;
			-webkit-transition: .5s ease;
			-moz-transition: .5s ease;
			-ms-transition: .5s ease;
			-o-transition: .5s ease;
		}
	}
}
.grid-section {
	.container {
		.grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
			.grid-item {
				background-color: $background-color_1;
				padding: 100px;
			}
		}
	}
	.grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		padding: 15px;
		.grid-item-image-box {
			background-color: $background-color_5;
		}
		.grid-item-content-box {
			width: 75%;
			padding: 15px;
			h2 {
				width: 40%;
				font-size: 20px;
				background-color: $background-color_4;
			}
			p {
				color: $color_5;
				font-size: 45px;
				font-weight: 700;
			}
			h3 {
				color: $color_6;
				padding: 7px;
			}
			.list-box {
				ul {
					color: $color_6;
					li {
						list-style: none;
						display: flex;
						align-items: center;
						gap: 5px;
					}
				}
			}
		}
	}
}
.features {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	.features-text {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		h1 {
            @include border-radius;
			font-size: 25px;
			color: $color_5;
			background-color: $background-color_4;
			border-radius: 7%;
			-webkit-border-radius: 7%;
			-moz-border-radius: 7%;
			-ms-border-radius: 7%;
			-o-border-radius: 7%;
			margin: 20px;
		}
		p {
			font-size: 38px;
			font-weight: 600;
			color: $color_5;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.manages {
	padding: 30px;
	.grid-manage {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
		gap: 15px;
		.design {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			padding: 20px;
			gap: 15px;
			box-shadow: -1px 3px 5px 3px rgba(0, 0, 0, 0.43);
			border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
		}
	}
}
.arrow-fixed {
	position: fixed;
	bottom: 10px;
	right: 10px;
	.arrow-icon {
		background-color: $background-color_3;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px;
		i {
			font-size: 20px;
		}
	}
}
.counter {
	background-color: $background-color_6;
	height: 80vh;
	background-image: url('/assets/image/counter-shape-1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	.container {
		padding-top: 100px;
	}
	.counter-content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 40px;
		font-size: medium;
		.counter-body {
			color: $color_1;
		}
		.head {
			background-color: $background-color_5;
			width: 250px;
			border-radius: 20px;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			-ms-border-radius: 20px;
			-o-border-radius: 20px;
			text-align: center;
			padding: 5px 10px;
		}
	}
	.counter-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		padding: 30px;
		.grid1 {
			background-color: $background-color_7;
			color: $color_7;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 15px;
			padding: 15px 0;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
		}
		.grid2 {
			background-color: $background-color_3;
			color: $color_7;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 15px;
			padding: 15px 0;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
		}
		.grid3 {
			background-color: $background-color_8;
			color: $color_7;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 15px;
			padding: 15px 0;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
			i {
				font-size: 50px;
			}
			h4 {
				font-size: 40px;
				font-weight: bold;
			}
		}
		.grid4 {
			background-color: $background-color_9;
			color: $color_7;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			gap: 15px;
			padding: 15px 0;
			border-radius: 5px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-ms-border-radius: 5px;
			-o-border-radius: 5px;
		}
	}
}
.unique-section {
	.unique-container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
		padding: 30px;
		.unique-item-image-box {
			background-color: $background-color_5;
			width: 100%;
			align-content: center;
			img {
				width: 80%;
			}
		}
		.unique-item-content-box {
			h2 {
				width: 40%;
				font-size: 20px;
				background-color: $background-color_10;
			}
			p {
				font-size: 40px;
				font-weight: bold;
			}
			h3 {
				color: $color_8;
			}
			.uni-button {
				button {
					background-color: $background-color_3;
					border: #ffdc60;
					border-radius: 50px;
					width: 170px;
					height: 60px;
					font-weight: 700;
					cursor: pointer;
					-webkit-border-radius: 50px;
					-moz-border-radius: 50px;
					-ms-border-radius: 50px;
					-o-border-radius: 50px;
				}
			}
			.unique-list-box {
				li {
					list-style: none;
				}
				.display-flex-list {
					margin: 20px 0;
					display: flex;
					gap: 15px;
					align-items: center;
					.item {
						display: flex;
						gap: 5px;
						align-items: center;
					}
				}
			}
			.online {
				display: flex;
				gap: 5px;
				align-items: center;
				margin-bottom: 20px;
			}
		}
	}
}
.agency {
	position: relative;
	bottom: -155px;
	z-index: -1;
	.agency-background-img {
		background-image: url("/assets/image/cta-bg.png");
		height: 60vh;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.agency-absolute-box {
		background-color: $background-color_5;
		border-radius: 80px;
		-webkit-border-radius: 80px;
		-moz-border-radius: 80px;
		-ms-border-radius: 80px;
		-o-border-radius: 80px;
		position: absolute;
		top: -35px;
		left: 45%;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.agency-content-box {
		display: grid;
		h1 {
			padding: 0 0 7px;
			font-size: 40px;
			font-weight: bold;
		}
		p {
			color: $color_9;
			font-size: 15px;
			font-weight: bold;
		}
	}
}
.footer {
	padding: 20px;
	background-color: $background-color_6;
	height: 80vh;
	background-image: url('/assets/image/footer-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: $color_10;
	.footer-display-flex {
		padding: 170px 0 50px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-style: unset;
		font-weight: bold;
		.footer-head-box {
			h6 {
				font-size: 30px;
				margin-bottom: 10px;
			}
		}
		nav {
			display: flex;
			flex-direction: column;
			a {
				color: $color_10;
				text-decoration: none;
				font-size: 18px;
				margin: 5px 0;
				text-align: center;
			}
		}
		.footer-box {
			.footer-content-box {
				padding: 25px 0;
				font-size: 18px;
			}
			form {
				position: relative;
				input {
					padding: 10px 15px;
					width: 100%;
					border: none;
					border-radius: 20px;
					-webkit-border-radius: 20px;
					-moz-border-radius: 20px;
					-ms-border-radius: 20px;
					-o-border-radius: 20px;
					outline: none;
				}
				button {
					border: none;
					background-color: $background-color_3;
					position: absolute;
					padding: 8px 15px;
					top: 2px;
					right: 3px;
					border-radius: 20px;
					-webkit-border-radius: 20px;
					-moz-border-radius: 20px;
					-ms-border-radius: 20px;
					-o-border-radius: 20px;
					z-index: 2;
					&:hover {
						background-color: $background-color_1;
						color: $color_1;
						cursor: pointer;
					}
				}
			}
			.social-link {
				display: flex;
				gap: 10px;
				align-items: center;
				margin-top: 20px;
				font-size: 20px;
				.box {
					a {
						border: 1px solid #ccc;
						border-radius: 50px;
						-webkit-border-radius: 50px;
						-moz-border-radius: 50px;
						-ms-border-radius: 50px;
						-o-border-radius: 50px;
						color: $color_11;
						width: 30px;
						padding: 5px;
						height: 3px;
					}
				}
			}
			.footer-icon-box {
				display: flex;
				gap: 15px;
				align-items: center;
				margin-bottom: 20px;
				font-size: 18px;
				a {
					color: $color_10;
				}
			}
		}
	}
}
.copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $background-color_11;
	padding: 10px 15px;
	font-size: small;
	color: $color_10;
	.cpy {
		a {
			padding: 10px;
			color: $color_1;
			font-size: 20px;
		}
	}
}
@import '_responsive.scss';
